img {
    width: 250px;
}

h4desc {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 23px;
    font-weight: 300;
    text-shadow: 0 0 2px #ffffff;
    color: rgb(161, 161, 161);
    line-height: 1.6;
}

.accordion-container {
    justify-content: center;
    padding: 30px;
    display: grid;
    grid-template-columns:28% 28% 28%;
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 100px;
}

.accordion-card {
    width: fit-content;
    background-color: rgb(255, 255, 255, 0.1);
    justify-content: center;
    display: grid;
    cursor: pointer;
    box-shadow: white 0px 0px 7px;
    height: fit-content;
    position: relative;
}
  
.accordion-card__header {
    color: #202020;
    position: relative;
    padding: 5px;
    margin: 10px;
}
  
.accordion-card__content {
    font-family: 'Genos', sans-serif;
    padding: 0px 15px 20px 15px;
    color: #ffffff;
    display: none;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
  
.active {
    display: block;
}

.info-container {
    overflow: hidden;
}

.info-cards {
    margin: 50px;
    display: grid;
    grid-template-columns: 22% 3% 22% 3% 22% 3% 22%;
    justify-content: center;
}
.infocard {
    color: #f6f6f6;
    height: auto;
    width: auto;
    padding: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 0 2px #ffffff;
}

.infocard-header {
    font-weight: 600;
    padding-bottom: 10px;
}

.icon {
    color: #3a59e1;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
    position: relative;
    top: 40%;
}


.parent {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 30px;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 140px;
    animation: rotate 5s linear infinite;
  }
  .image2 {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 80px;
  }
  .image3 {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    border-radius: 10px;
    animation: pulse 4.5s infinite;
  }
  .image4 {
    position: absolute;
    top: 55px;
    left: 175px;
    width: 135px;
    border-radius: 10px;
    animation: pulse 6s infinite;
  }

  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.96);
    }
    100% {
        transform: scale(1);
    }
  }

.twop {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    height: auto;
}

.twop-right {
    flex-direction: row;
    text-align:left;
}

.twop-left {
    flex-direction: row-reverse;
    text-align:right;
}

.textp {
    width: 50%;
    margin: 0px 0px 0px 0px;
}

  @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }

@supports (animation-timeline: view()) {
    .card {
        --index0: calc(var(--index) - 1); /* 0-based index */
        --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
        --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
    }

    @keyframes scale {
        to {
            transform:
                scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
        }
    }

    #cards {
        --numcards: 4;
        view-timeline-name: --cards-element-scrolls-in-body;
    }

    .card__content {
        --start-range: calc(var(--index0) / var(--numcards) * 100%);
        --end-range: calc((var(--index)) / var(--numcards) * 100%);

        animation: linear scale forwards;
        animation-timeline: --cards-element-scrolls-in-body;
        animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
    }
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid hotpink;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}

.card__content {
	box-shadow: 0 0.3em 2em rgba(0, 0, 0, 0.2), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(246, 246, 246);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
}

.card__content > div {
	grid-area: text;
	width: 70%;
	place-self: center;
	text-align: left;

	display: grid;
	place-items: start;
    margin: 50px 0px 50px 70px;
    font-size: 17px;
}

.card__content > div > h2 {
    font-size: 38px;
}

.card__content > figure {
	grid-area: img, video;
	overflow: hidden;
    margin: 60px 0px 0px 0px;
}

.card__content > figure > img, video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


#cards {
	/* Make place at bottom, as items will slide to that position*/
	padding-bottom: calc(var(--numcards) * var(--card-top-offset));
	/* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
	margin-bottom: var(--card-margin);
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}


:root {
	--card-height: 40vw;
	--card-margin: 1vw;
}

.stack {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    position: relative;
    top: 100px;
    left: 0;
    margin: 0 30px;
}

.img1 {
    position: absolute;
    display: flex;
    top: 40px;
    left: 350px;
    width: 250px;
    height: 180px;
    transform: rotate(-340deg);
    z-index: 2;
}

.img2 {
    position: relative;
    display: flex;
    top: 60px;
    left: 50px;
    width: 300px;
    rotate: -5deg;
    z-index: 3;
    height: 190px;
    box-shadow: #636363 0px 0px 7px;
    filter: brightness(1.2);
}

.img3 {
    position: absolute;
    display: block;
    top: 30px;
    left: 30px;
    width: 170px;
    height: auto;
    rotate: -25deg;
    z-index: 1;
}