body {
    font-family: 'Times New Roman', sans-serif;
    margin: 00;
    padding: 0;
    background-color: white;
    font-size: 20px;
}
main {
    padding: 50px;
    margin
}
header {
    background: white;
    color: #000000;
    padding: 10px;
}

header nav ul {
    display: flex;
    justify-content: space-between; /* Separate the left and right groups */
    align-items: center; /* Align items vertically */
    list-style-type: none;
    padding: 20;
}

header nav ul .left {
    margin-right: auto; /* Pushes "Portfolio" to the left */
}

header nav ul .right {
    margin-right: 20px; /* Adds space between right-side items */
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
}

footer {
    background: #e4dddd;
    color: #000000;
    text-align: center;
    padding: 10px;
}
h1, h2 {
    font-family: 'Cormorant Garamond', serif;
    color: #333;
    left: 20%;
    font-size: 80px;
    text-align: center;
}
.gallery {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
}
.gallery:hover {
    border: 1px solid #777;
}
.gallery img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 15px;
    text-align: center;
}
.art {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.layout {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px;
}