body {
    margin: 0;
    font-family: 'Tenor Sans', sans-serif;
    background: linear-gradient(135deg, #f3d5fa, #a8c8ff, #d6e8ff);
    background-size: 300% 300%;
    animation: gradientBackground 10s ease infinite;
    color: white;
}

@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

main {
    padding: 50px;
    margin
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul .left {
    margin-right: auto; /* Pushes "Portfolio" to the left */
}

nav ul .right {
    margin-right: 20px; /* Adds space between right-side items */
}

nav ul li a {
    text-decoration: none;
    font-family: 'Tenor Sans', sans-serif;
    color: white;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #d6e8ff;
}

footer {
    background: #e4dddd;
    color: #000000;
    text-align: center;
    padding: 10px;
}
h1, h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    text-align: center;
    margin-top: 20vh;
    font-weight: 700;
}
.gallery {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
}
.gallery:hover {
    border: 1px solid #777;
}
.gallery img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 15px;
    text-align: center;
}
.art {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px;
}
.layout {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px;
}
